@use 'reset';
@use 'variable';
@use 'mixin';

header {
  position: relative;
  background-color: variable.$navy;
  @include mixin.box(400px, 100px);

  .header-boxes {
    display: flex;
    gap: 10px;
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: white;
    padding: 10px;

    @each $name in variable.$classNames {
      $index: index(variable.$classNames, $name);
      $color: nth(variable.$buttonColor, $index);

      .box-color-#{$name} {
        background-color: $color;
        @include mixin.box(40px, 40px);
      }
    }
  }
}

.container {
  width: 400px;
}

main {
  background-color: variable.$red;
  @include mixin.box(250px, 250px);
  float: left;
  padding-top: 40px;
  padding-left: 40px;

  $indices: 1, 2, 3;
  @each $i in $indices {
    $name: nth(variable.$classNames, $i);
    $color: nth(variable.$buttonColor, $i);
    .box-#{$name} {
      background-color: $color;
      @include mixin.box(140px, 40px);
      border: 5px solid white;
      margin-bottom: if($i != 3, 10px, 0); // 最後のボックスだけ margin 無し
    }
  }
}

.sidebar {
  background-color: variable.$green;
  @include mixin.box(150px, 250px);
  float: left;
}

footer {
  clear: both;
  background-color: variable.$brown;
  @include mixin.box(400px, 100px);
}




