@use 'reset';
@use 'variable';
@use 'mixin';

header {
  background-color: variable.$navy;
  @include mixin.box(400px, 100px);
}

.container {
  width: 400px;
}

main {
  background-color: variable.$green;
  @include mixin.box(250px, 250px);
  float: left;
}

.sidebar {
  background-color: variable.$red;
  @include mixin.box(150px, 250px);
  float: left;
}




